/* assets/style.css */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: #FF4500; /* Cor laranja para o título */
}

.dash-dropdown {
    color: black;
    background-color: white;
}

.dash-dropdown .Select-control {
    color: black;
    background-color: white;
}

.dash-dropdown .Select-menu-outer {
    background-color: white;
}
